body {
  background: #111;
  color: #eee;
  font-family: sans-serif;
  padding: 20px;
}

#container {
  display: flex;
  gap: 20px;
}

.panel {
  background: #222;
  padding: 15px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

canvas {
  width: 300px;
  height: 300px;
  background: #000;
  border-radius: 8px;
}
.val {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}
